@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KCC-Hanbit';
}

#warp {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

#board {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_item {
    width: calc(95% / 3);
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

#context {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    min-height: 300px;
    position: relative;
    height: 500px;
}

#context_input {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    position: relative;
}

#context_input:focus {
    outline: none;
}

.board_title {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
}

.board_context {
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.board_text {
    font-size: 16px;
    margin: 5px 0;
}

.board_text > span {
    color: #4074c1;
    font-weight: bold;
    margin: 0 2px;
}

.board_context:nth-child(2) > div {
    width: 100%;
    display: flex;
}

.board_context:nth-child(2) > div > p {
    width: 50%;
    display: flex;
    align-items: center;
}

.circle {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px !important;
}


.back_red {
    background-color: #FF6262;
}

.back_green {
    background-color: #1D9C4B;    
}

.back_yellow {
    background-color: #FFCA26;
}

.back_purple {
    background-color: #8950B9;
}

.color_red {
    color: #FF6262 !important;
}

.color_green {
    color: #1D9C4B !important;    
}

.color_yellow {
    color: #FFCA26 !important;
}

.color_purple {
    color: #8950B9 !important;
}

.board_btn {
    cursor: pointer;
    transition: 0.3s;
}

.board_btn:hover {
    opacity: 0.5;
}